@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Montserrat:wght@100&family=Nunito:wght@500&display=swap");

.App {
  color: #8f8e8e;

  font-family: "DM Sans", sans-serif;
}

.btn {
  background-color: #535353;
  margin-left: auto;
  margin-right: auto;
  border-color: #535353;
}

.btn-primary:hover {
  background-color: #535353;
  opacity: 0.8;
  border-color: #535353;
}
