.old-item-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.old-item-pic {
    width: 30%;
    height: auto;
    margin-right: 5%;
    opacity: 0.8;
}

.old-item-form {
    width: 40%;
}

.old-item-title {
    font-size: 24px;
    font-weight: bold;
}

.old-item-tips {
    text-align: right;
    margin-top: 10px;
    color: #3498db;
}

.item-order {
    width: 100%;
    margin-top: 30px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.order-input {
    width: 70%;
    margin-left: 20px;
}

.order-btn {
    margin-left: 20px;
    width: 100px;
    height: 35px;
    color: #ffffff;
    font-size: 16px;
    line-height: 35px;
    font-weight: bold;
    background-color: #2ecc71;
    text-align: center;
}
