.menu{
    height: 60px;
    padding: 0 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000000;
    font-size: 14px;
    background-color: #eeeeee;
}

.menu-title {
    font-size: 24px;
    font-weight: bold;
}

.user-info {
    width: 100px;
    text-align: right;
}

.menu-sign-in {
    color: #2ecc71;
}
