.task-details-container {
    margin: 50px auto 0 auto;
    width: 80%;
}

.details-back-list {
    color: #3498db;
    font-size: 16px;
}

.details-title {
    font-size: 18px;
    font-weight: bold;
    color: #2ecc71;
    border-bottom: 1px dashed #777777;
    margin-top: 20px;
}

.item-title {
    font-weight: bold;
}

.item-content {
    margin-left: 20px;
}

.tag-textarea {
    width: 100%;
}

.btn-container {
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
}

.details-btn {
    height: 35px;
    color: #ffffff;
    font-weight: bold;
    line-height: 35px;
    text-align: center;
    border-radius: 5px;
    width: 200px;
}

.btn-tag {
    background-color: #2ecc71;
}

.btn-back {
    background-color: #8f8e8e;
}
