.new-item-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.new-item-pic {
    width: 30%;
    height: auto;
    margin-right: 5%;
    opacity: 0.8;
}

.new-item-form {
    width: 40%;
}

.new-item-title {
    font-size: 24px;
    font-weight: bold;
}

.new-item-tips {
    text-align: right;
    margin-top: 10px;
    color: #3498db;
}

.item-title {
    color: #777;
    margin-top: 10px;
}

.item-normal {
    width: 100%;
    height: 35px;
    border: 1px solid #333;
    border-radius: 2px;
}

.item-input {
}

.item-select {
}

.item-textarea {
    width: 100%;
}

.item-btn {
    width: 100%;
    height: 35px;
    margin-top: 20px;
    background-color: #2ecc71;
    color: #ffffff;
    line-height: 35px;
    text-align: center;
    border-radius: 2px;
}
