.new-item-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.new-item-pic {
    width: 30%;
    height: auto;
    margin-right: 5%;
    opacity: 0.8;
}

.new-item-form {
    width: 40%;
}

.new-item-title {
    font-size: 24px;
    font-weight: bold;
}

.new-item-tips {
    text-align: right;
    margin-top: 10px;
    color: #3498db;
}

.item-title {
    margin-top: 10px;
}

.new-form-btn {
    margin-top: 30px;
}
